*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.bg-img{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)),url("../gallery/gallery6.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
  .bg-img p{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

}
.bg-img h6{
    font-size: 1.5rem;
}

/* contact us start */

  .linear-gradient{
    background: linear-gradient(1600deg,#3c6585 0%,#0e3959 40%,rgb(106, 127, 73) 40%, rgb(155, 198, 90) 55%,#3c6585 100%);
    height:auto;
    
  }
  .linear-gradient h1{
    text-align: center;
    font-weight:bold;
    font-size: 2.5rem;
    padding-top:5vh;
    padding-bottom: 4vh;
    color:#fff;
  }
  
  .contact-form input{
    width:50%;
    height:40px;
    border: none;
    padding-left: 10px;
    border-radius: 20px;
    box-shadow: 5px 10px 30px #000;
 }
 
  form{
    height:auto;
    margin-bottom: 6vh;
  }
  .contact-form{
    width:100%;
    height:auto;
    border:none;
    padding:20px 10px 0px 20px;
    background-color: rgba(0,0,0,.5);
   }
   .contact-form h2{
    font-size: 2.5rem;
    font-family: sans-serif;
    text-align: center;
    color: rgb(120, 179, 32);
    padding-bottom: 4vh;
   }
   label{
    width:90px;
    height: 40px;
    font-family: sans-serif;
    font-size: 1.5rem;
    color:rgb(120, 179, 32);
    background-color:none;
   }
   .input-box{
    display: flex;
    justify-content: center;
   }
   .msg textarea{
    width:80%;
    height: 27vh;
   }
  
   .contact-form .submit input{
    width:16%;
    font-size: 17px;
    text-align: center;
    position: relative;
    border-radius: 40px;
    border: none;
    background-color: rgb(120, 179, 32);
    color:#fff;
    border: none;
    margin:5vh auto 5vh 42%;
    padding: 0;
   }
   .contact-form .submit:hover input{
    background-color: rgb(255, 255, 102);
    color:black;
    transition-duration: 1s;
}
    /*contact info*/

    .four{
      height:100vh;
      margin: 0%;
    }
  .contact-info{
    position: relative;
    margin-bottom: 10px;
    background-color:rgba(0,0,0,.5);
    color: #fff;
    width:100%;
    height:42vh;
    padding: 3rem;
    overflow: hidden;
  }
  .contact-info h3{
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .inline p{
    float:right ;
    height: 19px;
    font-size:16px;
  }
.inline{
  font-size: 18px;
  letter-spacing: 1px;
}
.all-logo span{
  font-size: 20px;
  padding: 5px;
  float: right;
}
  /* map */
  .map{
    width:100%;
    height:auto;
    background-color: #fff;
  }
  .map iframe{
    width:100%;
    background-size: cover;
    height:54vh;
    border: 0;
  }

       /* contact us end */
